@import '_variables.scss';
@import 'loading-screen.scss';
@import 'error-screen.scss';
@import 'main-menu.scss';
@import 'options-menu.scss';
@import 'maze-container.scss';

.app {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    font-family: $default-font, serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: $default-color-font;

    > header {
        text-align: center;
        margin-top: 60px;
        font-size: 6rem;
        color: $color-active;
        position: relative;

        .sub-text {
            position: absolute;
            font-size: 18px;
            color: white;
            bottom: 0;
            left: 60%;
            transform: translateX(-50%);
        }

    }
}

.end-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;

    > button,
    > h1 {
        color: $color-active;
    }

    > button {
        background-color: transparent;
        border-color: transparent;
        color: $default-color-font;
        font-size: 30px;
        &:hover {
            color: $color-active;
        }
    }
}
