@import '_variables.scss';

.app {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    font-family: $default-font, serif;
    background-color: $background-color;
    display: grid;
    grid-template-rows: auto auto;
    color: $default-color-font;

    .app--options-menu {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        min-height: 300px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
        display: none;
    }

    > header {
        display: grid;
        justify-self: center;
        align-self: center;
        grid-template-columns: 100px auto;
        margin: 12px;
        color: $default-color-font;

        > img {
            width: 80px;
        }
    }

    .app--maze-container {
        margin: 24px;
        margin-top: 0px;
        height: 85vh;
        background-color: white;
        border-radius: 4px;
        position: relative;
        display: grid;
        grid-template-columns: 80% 20%;

        .maze--view {
            position: relative;
            height: 500px;
            width: 90%;
            max-width: 900px;
            margin: 24px 0px 12px 24px;
            overflow: hidden;
            border-radius: 6px;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        .maze--minimap {
            display: grid;
            align-items: end;
            justify-items: end;
            
            .mini-map{
                width: 100%;
                max-width: 300px;
                // 55px per row
                height: 220px;
                background-color: #f2f2f2;
                border: 2px solid #d9d9d9;
                border-radius: 4px;
                margin: 10px;

                .row .room {
                    height: 40px;
                    border-radius: 4px;
                    width: 60px;
                    background-color: white;
                    border: 1px solid black;
                    margin: 6px;
                    position: relative;

                    .passage {
                        position: absolute;
                        transform: translateX(-50%);
                        width: 12px;
                        height: 12px;
                        background-color: black;
                        margin: 0 auto;

                        &.top {
                            // top
                            top: -12px;
                            left: 50%;
                        }
    
                        &.right {
                            // right
                            top:40%;
                            right: -18px;
                        }
    
                        &.bottom {
                            // bottom
                            bottom: -13px;
                            left: 50%;
                        }
    
                        &.left {
                            // left
                            top:40%;
                            left: -12%;
                        }
                    }
                }
            }
        }
    }
}