.app .app--maze-container {
    position: relative;
    width: 100%;
    height: 100%;

    .game {
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        height: 60vh;
        width: 60vw;
        display: grid;
        grid-template-columns: 70% 30%;
        column-gap: 120px;

        .game--view {
            display: grid;
            grid-template-rows: 70% 30%;

            .game-view--visual {
                height: 100%;
                position: relative;

                .background {
                    height: 450px;
                    width: 100%;
                    border-radius: 6px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                .enemy, 
                .treasure {
                    position: absolute;
                    bottom: 0px;
                    height: 60%;
                    >img{
                        height: 100%;
                    }
                }

                .treasure {
                    right: 30px;
                }
            }

            .game-view--options {
                background-color: rgba(122, 60, 60, 0.493);
                height: 180px;
                border-radius: 6px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;


                .game-options {
                    margin-top: 12px;
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-items: center;
                    position: relative;

                    .back-btn {
                        position: absolute;
                        left: 12px;

                        cursor: pointer;
                        &:hover {
                            color: $color-active;
                        }
                    }

                    .game-action {
                        position: relative;
                        font-size: 1.8rem;
                        padding: 12px 24px;
                        padding-right: 120px;
                        padding-bottom: 35px;
                        border-radius: 12px;
                        cursor: pointer;
                        letter-spacing: 1px;
                        color: $default-color-font;
                        border: 1px solid #4685A0;
                        border-color: transparent;
                        margin-right: 12px;

                        &.sub-option {
                            padding: 12px 24px;
                        }
            
                        .game-action--sub-text {
                            font-size: 1rem;
                            white-space: nowrap;
                            position: absolute;
                            bottom: 24px;
                            opacity: 0;
                            transition: all 300ms ease-in;
                            color: $default-color-font;
            
                        }
            
                        &:hover {
                            color: $color-active;
                            border-color: $default-color-font;
            
                            .game-action--sub-text {
                                bottom: 12px;
                                opacity: 1;
                                transition: all 200ms linear;
                            }
                        }
                    }
                }
            }
        }

        .game--stats {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: 60% 40%;
            row-gap: 30px;

            .game-stats--stats {
                border-radius: 6px;

                .game-stats {
                    height: 100%;
                    display: grid;
                    grid-template-rows: auto 300px;
                    margin-top: 24px;

                    .player-stat {
                        display: grid;
                        grid-template-rows: auto auto;
                        justify-items: center;
                        align-items: center;
                        font-size: 24px;

                        > div {
                            display: grid;
                            grid-template-columns: 60px 60px;
                            column-gap: 30px;

                            &.health {
                                color: red;
                            }

                            &.wealth {
                                color: gold;
                            }
                        }
                    }

                    .game-log {
                        list-style: none;
                        background-color: rgba(0, 0, 0, 0.5);
                        overflow: auto;
                        height: 200px;
                        margin: 24px;
                        border-radius: 24px;
                        padding: 12px;
                    }
                }
            }

            .game-stats--minimap {
                display: grid;
                align-items: end;
                justify-items: end;
                z-index: 1;

                .mini-map{
                    width: 100%;
            
                    height: 100%;
                    display: grid;
                    justify-items: center;
                    align-items: center;
            
                    border-radius: 6px;

                    .map {
                        .row .room {
                            height: 40px;
                            border-radius: 4px;
                            width: 60px;
                            background-color: white;
                    
                            margin: 6px;
                            position: relative;

                            &.current {
                                background-color: $color-active;
                            }

                            &.exit {
                                background-color: green;
                            }

                            &.show .passage {
                                opacity: 1;
                            }

                            .passage {
                                position: absolute;
                                transform: translateX(-50%);
                                width: 12px;
                                height: 12px;
                                background-color: white;
                                margin: 0 auto;
                                opacity: 0;

                                &.top {
                            
                                    top: -12px;
                                    left: 50%;
                                }
            
                                &.right {
                            
                                    top:35%;
                                    right: -19px;
                                }
            
                                &.bottom {
                            
                                    bottom: -13px;
                                    left: 50%;
                                }
            
                                &.left {
                            
                                    top:40%;
                                    left: -12%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}