{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "react/jsx-indent": [1, 4],
        "react/jsx-indent-props": [1, 4],
        "consistent-return": ["off"],
        "no-restricted-syntax": ["off"],
        "guard-for-in": ["off"],
        "no-else-return": ["off"],
        "arrow-body-style": ["off"]
    },
    "env": {
        "browser": true
      }
}